.margintop-100{
  margin-top: 100px;
}

.margintop-50{
  margin-top: 50px;
}

.card-header{
  background-color: rgba(0,0,0,0) !important;
}
.margintop-10{
  margin-top: 10px;
}

.marginbottom-180{
  margin-bottom: 180px !important;
}

.marginbottom-60{
  margin-bottom: 60px !important;
}
.marginbottom-130{
  margin-bottom: 130px !important;
}

.marginbottom-15{
  margin-bottom: 15px;
}

.custom-checkbox {
  min-height: 1rem;
  padding-left: 0;
  margin-right: 0;
  cursor: pointer; 
}
.custom-checkbox .custom-control-indicator {
  content: "";
  display: inline-block;
  position: relative;
  width: 30px;
  height: 10px;
  background-color: #818181;
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  vertical-align: middle;
  margin: 0 16px;
  box-shadow: none; 
}
.custom-checkbox .custom-control-indicator:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #f1f1f1;
  border-radius: 21px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -2px;
  top: -4px;
  -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
  transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
  background-color: #84c7c1;
  background-image: none;
  box-shadow: none !important; 
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
  background-color: #84c7c1;
  left: 15px; 
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
  box-shadow: none !important; 
}
.file {
  visibility: hidden;
  position: absolute;
}

.footer-text{
  font-size:14px;
  color: gray;
}

.add-color {
  background-color: #17a2b8;
  padding: 10px;
  text-align: center;
}
.navbar {
  margin-bottom: 10px;
}
.button-username {
  margin-right: 5px;
}
.color-brown th {
  background-color: #9C9C9C;
}

.navbar {
  background-color: #17a2b8!important;
}
.btn-outline-success {
  border: 2px solid #fff!important;
  color: #000;
}

.input-group {
  margin-bottom: 10px;
}
.input-group button {
  margin-right: 5px;
}
.input-group input {
  width: 250px!important;
  margin-right: 5px;
}
.footer,.login-page {
  background-color: #17a2b8!important;
}
.navbar-text {
  padding: 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  }
.fl {
  float: left;
  padding:10px
}
.fr {
  float: right;
  padding:10px
}
.action-link {
  padding: .375rem .75rem;
  border: 1px solid #007bff;
  display: inline-block;
  cursor: pointer;
  text-decoration: none!important;
  border-radius: 5px;
  margin-right: 5px;
  width: 100px;
  text-align: center;
}
.btn-group {
  margin-left: 422px;
  margin-top: 1px;
}
.post-btn {
  display: block;
  margin: 0 auto;
}
.post-btn a {
  margin-right: 5px;
  display: inline-block;
}
.confirm .form-control{
border: none;
}
/* Login */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 10px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Post */
.action-form {
  display: flex;
}
.action-form a {
  margin-right: 5px;
}
.post-table {
  position: relative;
}
.no-search-data {
  position: absolute;
  top: 250px;
}

/* Modal */
.modal-header {
  border: none
}

.modal-footer {
  border: none
}

.btn-danger {
  background: #DD2750;
  border: 1px solid #C43352
}

.btn-light {
  border: 1px solid #E7E7E9
}

.btn:focus {
  box-shadow: none
}
.search-btn{
  border: 1px solid #007bff;
}
.mt-20 {
  margin-top: 20px;
}

form.user {
  margin-bottom: 20px;
}

.file {
  visibility: hidden;
  position: absolute;
}
.user-create {
  overflow-y: scroll;
  margin-bottom: 20px;
}
select {
  width: 100%;
  min-height: 40px;
}
.modal-lists {
  list-style: none;
  font-size: 16px;
  line-height: 1.5em;
}
.modal-lists li {
  padding: 10px 0;
}
.profile_img img {
  width: 200px;
  /* height: 200px; */
  margin: 10px 0;
}
.userName {
  margin-right: 10px;
  padding-top: 10px;
  margin-right:10px;
}
.change-password {
  margin: 10px 0;
}